 
  body {
    
     
    background: linear-gradient(
      to left,
      rgba(7, 27, 82, 1) 0%,
      rgba(0, 128, 128, 1) 100%
    );
  }
  
  
.card {


  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr  1fr;
  grid-gap: 20px;

}
.cardd {
  display: flex;
  flex-direction: column;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
 
   
}

.cardd:hover {
  transform: scale(1.05);
}
.search {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: 150px;
  line-height: 30px;
  margin-bottom: 30px;
  text-align: center; 
}

.mons {

align-items: center;
align-content: center;
text-align: center;
}

.heading {
  font-family: 'Bigelow Rules', cursive;
  font-size: 400%;

}

.image {
 height: 180px;
 width: 180px;
align-items: center;
text-align: center;
margin-left: 15px;
}